/* 레이아웃 */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center top;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; background: rgba(0,0,0,0.3);}

/* 헤더 */
.header {}
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; transition: color 0.3s; padding: 8px 0 6px 10px; display: inline-block; font-family: "Abel";}
.header .header_menu a:hover {color: #ccc;}
.header .header_tit {text-align: center; font-family: "Abel"; margin-top: 55px; text-transform: uppercase;}
.header .header_tit h1 {
    color: #fff; 
    letter-spacing: 2px; 
    font-weight: 900;
    background: #51b0dc; 
    padding: 5px 30px; 
    display: inline-block;
    font-size: 30px;
    transition: box-shadow 0.5s ease-in-out;
}
.header .header_tit h1:hover {
    box-shadow: 
        inset -250px 0 0 0 #257fac,
        inset 250px 0 0 0 #257fac;
}

.header .header_tit a {
    color: #fff;
    background: #4a9abf; 
    padding: 10px 20px; 
    display: inline-block;
    margin-top: -7px;
    font-size: 16px;
    transition: all 0.5s;
}
.header .header_tit a:hover {
    box-shadow: 0 0.5rem 0.5rem -0.4rem #4a9abf;
    transform: translatey(0.40rem);
    color: #fff;
}
.header .header_icon {
    text-align: center; 
    margin-top: 40px;
    padding-bottom: 40px;
}
.header .header_icon li {display: inline; margin: 0 2px;}
.header .header_icon li a {
    position: relative;
    color: #fff; font-size: 35px;
    background-color: #3192bf;
    width: 60px; height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}
.header .header_icon li a span {
    font-size: 12px;
    line-height: 1.6;
    position: absolute;
    left: 50%; top: -45px;
    transform: translateX(-50%);
    background: #3192bf;
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s;
}
.header .header_icon li a:hover span {
    opacity: 1;
    top: -33px;
}
.header .header_icon li a span::before {
    content: '';
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute; left: 50%; bottom: -5px;
    margin-left: -5px;
}
.header .header_icon li a:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* 미디어쿼리 */
@media (max-width: 1220px){
    .container {width: 100%;}
}