/* 레이아웃 */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center top;}
#nav {background-color: #f6fdff;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; /* background: rgba(0,0,0,0.3); */}

/* 헤더 */
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; transition: color 0.3s; padding: 8px 0 6px 10px; display: inline-block; font-family: "Abel";}
.header .header_menu a:hover {color: #ccc;}
.header .header_tit {text-align: center; font-family: "Abel"; margin-top: 55px; text-transform: uppercase;}
.header .header_tit h1 {
    color: #fff; 
    letter-spacing: 2px; 
    font-weight: 900;
    background: #51b0dc; 
    padding: 5px 30px; 
    display: inline-block;
    font-size: 30px;
    transition: box-shadow 0.5s ease-in-out;
}
.header .header_tit h1:hover {
    box-shadow: 
        inset -250px 0 0 0 #257fac,
        inset 250px 0 0 0 #257fac;
}

.header .header_tit a {
    color: #fff;
    background: #4a9abf; 
    padding: 10px 20px; 
    display: inline-block;
    margin-top: -7px;
    font-size: 16px;
    transition: all 0.5s;
}
.header .header_tit a:hover {
    box-shadow: 0 0.5rem 0.5rem -0.4rem #4a9abf;
    transform: translatey(0.40rem);
    color: #fff;
}
.header .header_icon {
    text-align: center; 
    margin-top: 40px;
    padding-bottom: 40px;
}
.header .header_icon li {display: inline; margin: 0 2px;}
.header .header_icon li a {
    position: relative;
    color: #fff; font-size: 35px;
    background-color: #3192bf;
    width: 60px; height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}
.header .header_icon li a span {
    font-size: 12px;
    line-height: 1.6;
    position: absolute;
    left: 50%; top: -45px;
    transform: translateX(-50%);
    background: #3192bf;
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s;
}
.header .header_icon li a:hover span {
    opacity: 1;
    top: -33px;
}
.header .header_icon li a span::before {
    content: '';
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute; left: 50%; bottom: -5px;
    margin-left: -5px;
}
.header .header_icon li a:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* 전체 메뉴 */
.nav {overflow: hidden; padding: 25px 0;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;}
.nav > div ol {overflow: hidden;}
.nav > div li {float: left; width: 50%; position: relative; padding-left: 8px; box-sizing: border-box;}
.nav > div li::before {
    content: '';
    width: 3px; height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position: absolute;
    left: 0; top: 6px;
}
.nav > div:last-child li {width: 100%;}
.nav > div h3 {
    font-size: 18px; color: #25a2d0; 
    font-weight: bold; 
    margin-bottom: 4px;
}
.nav > div li a {position: relative; transition: all 0.3s ease-out;}
.nav > div li a::after {
    content: '';
    width: 0%; height: 1px;
    background: #25aad0;
    position: absolute;
    bottom: 0; left: 0;
    transition: all 0.3s ease-out;
}
.nav > div li:hover a::after {
    width: 100%;
}

/* 미디어쿼리 */
@media (max-width: 1220px){
    .container {width: 100%;}
}

/* 타이틀 */
#tit {background-color:#EAF7FD;}
.tit {position: relative;}
.tit h2 {padding: 5px 0; text-align: center; font-size: 40px; letter-spacing: 2px; color: #2c94c4; font-family: 'Nanum Brush Script'}
.tit .btn {
    text-align: center;
    color: #fff;
    width: 60px; height: 60px;
    line-height: 70px;
    position: absolute; right: 0; top: 5px;
    background-color: #2c94c4;
    border-radius: 50%;
}
.tit .btn:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}