
/* 스킵 내비게이션 */
#skip {position: relative;}
#skip a {position: absolute; left: 0px; top: -50px; color: #fff;
    /* border-width: 1px;
    border-style: solid;
    border-color: #fff; */
    border: 1px solid #fff; /* 속기형 작성법 */
    background-color: #333;
    line-height: 40px;
    height: 40px;
    width: 200px;
    text-align: center;
}
#skip a:focus, #skip a:active {top: 0px;}

/* 레이아웃 */
#wrap {}
#header {
    height: 325px;
    /* background-image: url(../img/header_bg.jpg);
    background-repeat: repeat-x;
    background-position: center top; */
    /* 속기형 작성법 */
    background: url(../img/header_bg.jpg) repeat-x center top;
}
#contents {}
#footer {height: 200px; background: #333;}

/* 컨텐츠 레이아웃 */
#cont_nav {background: #f6fdff;}
#cont_tit {background: #eaf7fd;}
#cont_ban {height: 200px; background: #666;}
#cont_cont {height: 200px; background: #777;}
/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; /* background: rgba(255,255,255,0.3); */}

/* header */
.header {}
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; padding: 10px 0 10px 10px; display: inline-block;}
.header .header_menu a:hover {color: #666;}

.header .header_tit {text-align: center;}
.header .header_tit h1 {
    background-color: #4aa8d4;
    display: inline-block;
    font-size: 28px;
    color: #fff;
    margin-top: 40px;
    text-transform: uppercase;
    padding: 5px 20px 6px 20px;
}
.header .header_tit a {
    display: inline-block;
    background-color: #2698cb;
    font-size: 18px;
    padding: 5px 20px 6px 20px;
    color: #fff;
    text-transform: uppercase;
    margin: -5px;
}

.header .header_icon {text-align: center; margin-top: 40px;}
.header .header_icon a {
    width: 60px; height: 60px;
    display: inline-block;
    background-image: url(../img/icon.png);
}
.header .header_icon a.icon1 {background-position: 0 0;}
.header .header_icon a.icon2 {background-position: 0 -60px;}
.header .header_icon a.icon3 {background-position: 0 -120px;}
.header .header_icon a.icon4 {background-position: 0 -180px;}
.header .header_icon a.icon1:hover {background-position: -60px 0;}
.header .header_icon a.icon2:hover {background-position: -60px -60px;}
.header .header_icon a.icon3:hover {background-position: -60px -120px;}
.header .header_icon a.icon4:hover {background-position: -60px -180px;}

/* 전체메뉴 */
.nav {overflow: hidden; padding: 30px 0;}
.nav > div {float: left; width: 40%;}
/* .nav > div.last {width: 20%;} */
.nav > div:last-child {width: 20%;} /* ie9부터 사용 가능 */
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ul {overflow: hidden;}
.nav > div ul li {float: left; width: 50%;}
.nav > div:last-child ul li {width: 100%;}
.nav > div ul li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit {position: relative;}
.tit h2 {text-align: center; font-size: 40px; padding: 5px 0; color: #2c94c4; letter-spacing: 2px;}
.tit .btn {
    position: absolute; 
    right: 0; top: 0; 
    margin-top: 5px;
    background-image: url(../img/icon.png); 
    width: 60px; height: 60px;
    display: inline-block;
    background-position: -0px -660px;
}
.tit .btn:hover {
    background-position: -60px -660px;
}
